# import pandas

In [ ]:
import pandas as pd

# ficheiro cast.csv para dataframe casts

In [ ]:
casts = pd.read_csv('cast.csv', index_col=None)

# dados estatisticos do conjunto

In [ ]:
print(casts.describe())

# imprimir as cinco primeiras linhas do dataframe casts

In [ ]:
print(casts.head())

# ler ficheiro titles.csv para dataframe titles

In [ ]:
titles = pd.read_csv('titles.csv', index_col =None)

# imprimir as cinco últimas linhas do dataframe titles

In [ ]:
print(titles.tail())

# alterar numero de linhas e colunas a visualizar sempre que se imprime todo o dataframe

In [ ]:
pd.set_option('display.max_rows', 10, 'display.max_columns', 10)

# imprimir dataframe titles

In [ ]:
print(titles)

# atribuir à variável tamanho o numero total d linhas do dataframe titles

In [ ]:
tamanho=len(titles)

# imprimir tamanho

In [ ]:
print(tamanho)

# imprimir primeiras três linhas do dataframe titles

In [ ]:
print(titles.head(3))

# obter serie t a partir do dataframe titles selecionando a coluna title

In [41]:
t = titles['title']

# imprimir tipo de dados de t

In [42]:
print(type(t))

<class 'pandas.core.series.Series'>

# Obter informação geral do dataframe casts

In [43]:
casts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75001 entries, 0 to 75000
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      75000 non-null  object
 1   year       75001 non-null  int64
 2   name       75001 non-null  object
 3   type       75001 non-null  object
 4   character  75001 non-null  object
 5   n          46035 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.4+ MB

# imprimir linha de indice 0 no dataframe titles

In [44]:
print(titles.iloc[0])

title    The Rising Son
year               1990
Name: 0, dtype: object

# obter dataframe after85 filtrando o dataframe tatles selecionando os registos cujo ano é superior a 1985

In [48]:
after85 = titles[titles['year']> 1985]
print(after85.head())

t = titles

              title  year
0    The Rising Son  1990
2  Crucea de piatra  1993
3           Country  2000
4        Gaiking II  2011
5       Medusa (IV)  2015

# obter dataframe movies90 filtrando o dataframe t selecionando os registos cujo ano é superior e igual a 1990 e inferior a 2000

In [50]:
movies90 = t[ (t['year']>=1990) & (t['year']<2000)]
print(movies90.head())

                       title  year
0             The Rising Son  1990
2           Crucea de piatra  1993
12  Poka Makorer Ghar Bosoti  1996
19          Maa Durga Shakti  1999
24      Conflict of Interest  1993

# obter dataframe macbeth a partir do dataframe t cujo valor na coluna title é igual a Macbeth

In [49]:
macbeth = t[ t['title'] == 'Macbeth']
print(macbeth.head())

         title  year
4226   Macbeth  1913
9322   Macbeth  2006
11722  Macbeth  2013
17166  Macbeth  1997
25847  Macbeth  1998

# obter dataframe macbeth a partir do dataframe t cujo valor na coluna title é igual a Macbeth e ordenar por index

In [51]:
macbeth = t[t['title'] == 'Macbeth'].sort_index()
print(macbeth.head())

         title  year
4226   Macbeth  1913
9322   Macbeth  2006
11722  Macbeth  2013
17166  Macbeth  1997
25847  Macbeth  1998

# obter dataframe macbeth a partir do dataframe t cujo valor na coluna title é igual a Macbeth e ordenar pelos values

In [53]:
macbeth = t[t['title'] == 'Macbeth'].sort_values('year')
print(macbeth.head())

         title  year
4226   Macbeth  1913
17166  Macbeth  1997
25847  Macbeth  1998
9322   Macbeth  2006
11722  Macbeth  2013

# imprimir linhas 3 e 4 do dataframe casts

In [54]:
print(casts.loc[3:4])

c = casts

                  title  year     name   type                character   n
3  Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan NaN
4            Steve Jobs  2015  $hutter  actor  1988 Opera House Patron NaN

# devolve true em cada elemento da linha correspondente à coluna n se o valor for nulo e falso caso contrário

In [55]:
print(c['n'].isnull().head())

0    False
1    False
2    False
3     True
4     True
Name: n, dtype: bool

# devolve FALSE em cada elemento da linha correspondente à coluna n se o valor for nulo e TRUE caso contrário

In [57]:
print(c['n'].notnull().head())

0     True
1     True
2     True
3    False
4    False
Name: n, dtype: bool

# devolve as primeiras linhas com valor nulo na coluna n

In [58]:
print(c[c['n'].isnull()].head(3))

                    title  year     name   type                character   n
3    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan NaN
4              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron NaN
5  Straight Outta Compton  2015  $hutter  actor              Club Patron NaN

# substitui os valores nulos de n por 'NA'

In [ ]:
c_fill = c[c['n'].isnull()].fillna('NA')
print(c_fill.head(2))

t = titles

                  title  year     name   type                character   n
3  Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan  NA
4            Steve Jobs  2015  $hutter  actor  1988 Opera House Patron  NA

# imprime as linhas do dataframe cujo valor afetos à coluna title é igual a 'Maa'

In [60]:
print(t[t['title'] == 'Maa'])

      title  year
38880   Maa  1968

# imprime as linhas do dataframe cujp valor afetos à coluna title é inicia com a 'Maa'

In [61]:
print(t[t['title'].str.startswith("Maa")].head(3))

                 title  year
19    Maa Durga Shakti  1999
334         Maarek hob  2004
3046     Maa Aur Mamta  1970

# conta os valores não nulos presentes na coluna year

In [62]:
print(t['year'].value_counts().head())

c = casts

year
2016    2363
2017    2138
2015    1849
2014    1701
2013    1609
Name: count, dtype: int64

# obtem o dataframe cf a partir de c filtrando os dados que verifiquem a condição do autor ser 'Aaron Abrams'

In [64]:
cf = c[c['name'] == 'Aaron Abrams']

# Agrupar os dados do dataframe anterior pela coluna year

In [65]:
print(cf.groupby(['year']).size().head())

year
2003    2
2004    2
2005    2
2006    1
2007    2
dtype: int64

# group by com múltiplas colunas

In [66]:
gbmultiplecolumns = cf.groupby(['year', 'title']).size()
gbmultiplecolumns.head()

year  title
2003  The In-Laws                             1
      The Visual Bible: The Gospel of John    1
2004  Resident Evil: Apocalypse               1
      Siblings                                1
2005  Cinderella Man                          1
dtype: int64

# leitura dos dados do ficheiro release_dates.csv para o dataframe release

In [68]:
release = pd.read_csv('release_dates.csv' , index_col=None)
print(release.head())

c_amelia = casts[casts['title'] == 'Amelia']
print(c_amelia.head())
print(release[release['title'] == 'Amelia'].head())

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                 #Beings  2015      Romania  2015-01-29
2               #Declimax  2018  Netherlands  2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
4                 #Horror  2015          USA  2015-11-20
        title  year            name   type    character     n
5767   Amelia  2009    Aaron Abrams  actor  Slim Gordon   8.0
23319  Amelia  2009  Jeremy Akerman  actor      Sheriff  19.0
        title  year    country        date
20543  Amelia  1966     Mexico  1966-03-10
20544  Amelia  2009     Canada  2009-10-23
20545  Amelia  2009        USA  2009-10-23
20546  Amelia  2009  Australia  2009-11-12
20547  Amelia  2009  Singapore  2009-11-12

# imprimeir os primeiras cinco linhas do merge (fusão) c_amelia com o dataframe release

In [ ]:
print(c_amelia.merge(release).head())